@font-face {
   font-family: 'Cairo-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Aseel%20Alobailan/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-02-10_150556/fonts/Cairo-Regular/font.ttf');
}
